mlflow
bcrypt==4.0.0
boto3==1.24.75
fsspec==2022.10.0
google-cloud-storage==2.5.0
keras==2.10.0
pandas==1.4.4
pillow==9.2.0
pyopenssl==22.0.0
scipy==1.9.1
tensorflow==2.10.0
mlflow-extend
opencv-python